{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c1.jpg" alt="product image">
            </div>
            <div class="itemname">4GB DDRA4 laptop memory</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c2.jpg"  alt="product image">
            </div>
            <div class="itemname">1TB Laptop HDD</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBSH1gQ9FxKUK4HpMCGjJ96G3XAoVxfjHWww&usqp=CAU"  alt="product image">
            </div>
            <div class="itemname">LOGITECH MASTER MOUSE</div>
            <div class="itemprice">Price: Rs.10000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCPQXqFi2R9J2Qtga6TlLyQXD2N5M4w8uboA&usqp=CAU"  alt="product image">
            </div>
            <div class="itemname">MOTHERBOARD</div>
            <div class="itemprice">Price: Rs.10000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4NyT0JXFVASvephIIRaU1VRm9qeK9CAGDpA&usqp=CAU"  alt="product image">
            </div>
            <div class="itemname">GFORCE GTX 980</div>
            <div class="itemprice">Price: Rs.40000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="https://hubcross.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/h/p/hp_ve06_laptop_battery_hubcross_31.jpg"  alt="product image">
            </div>
            <div class="itemname">HP PAVILION LAPTOP BATTERY</div>
            <div class="itemprice">Price: Rs.10000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-0HP7XHMzV_wfyUjkk0z8GltwlEPhQSNrMQ&usqp=CAU"  alt="product image">
            </div>
            <div class="itemname">ASUS ROG STRIX</div>
            <div class="itemprice">Price: Rs.9000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStvpAGt_Qf1zOgprOob_KS7Seaw57m82n5Bg&usqp=CAU"  alt="product image">
            </div>
            <div class="itemname">PXI SYSTEMS</div>
            <div class="itemprice">Price: Rs.9000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="https://5.imimg.com/data5/JE/LI/MY-4037858/tejas-xtn-tj1600-2500-watts-dwdm-500x500.jpg"  alt="product image">
            </div>
            <div class="itemname">TEJAS XTN</div>
            <div class="itemprice">Price: Rs.30000.00 </div>
        </div>
    </div>
    </div>
{% endblock  %}